*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}
/* CSS Reset code provided by Elad Shechter */
.LandingPage {
  height: 100vh;
  width: 100%;
  font-family: neon;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 2fr);
  grid-column-gap: 0px;
  grid-row-gap: 40px;
  grid-template-areas:
    "header header"
    "popularPic signIn";
}




.header {
  z-index: 1;
  grid-area: header;
  /* background-color: #C200A1; */
  /* display: flex; */
  height: 40%;
  grid-row: 0/2;
  width: 100%;
  font-family: potra;
  font-size: 120px;
  padding-top: 40px;
  /* padding-left: 70%; */
  color: #fb4264;
  line-height: 9vw;
  text-shadow: 0 0 3vw #f40a35;
  animation: header 1s ease infinite;
  -moz-animation: header 1s ease infinite;
  -webkit-animation: header 1s ease infinite;
}
.header > span {
  z-index: 1;
  font-family: PWFreshPaintings;
  color: hotpink;
  font-size: 180px;
  /* margin: 40px; */
}
.LogoLetter {
  z-index: 1;
  font-family: PWFreshPaintings;
  color: hotpink;
  font-size: 180px;
  margin-left: 50px; 
  padding-right: -100px;
}

.logo{
  height: 200px;
  width: 200px
}

@keyframes header {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
    0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
    0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}
.popularImageContainer {
  z-index: 1;
  grid-area: popularPic;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10%
}
.popularImage {
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 10px solid rgba(173, 255, 47, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px #00ddd6, 0px 0px 30px 20px hotpink, inset 0px 0px 10px 10px #00ddd6, inset 0px 0px 30px 20px hotpink;
}

.image {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

.signIn {
  z-index: 1;
  grid-area: signIn;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10%
}

.signInForm {
  width: 350px;
  height: 350px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: hotpink;
  font-weight: bold;
  font-size: 18px;
  border: 10px solid rgba(173, 255, 47, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px #00ddd6, 0px 0px 30px 20px hotpink, inset 0px 0px 10px 10px #00ddd6, inset 0px 0px 30px 20px hotpink;
}

form {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: space-around;
  flex-direction: column;
  width: 60%;
}

.signInBtn {
  background-color: rgb(173, 255, 47);
  line-height: 1.5em;
  color: black;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-weight: bold
}
.signInBtn:hover {
  background-color: rgb(242, 24, 202);
  color: white;
}
.signUpLink {
  margin-top: 10%;
  font-size: 25px;
  color: #00ddd6;
  text-decoration: none;
}
.signUpLink:hover {
  color: orange;
  text-decoration: underline;
}
.signInBtn:focus {
  outline: none
}

.userInputs {
  width: 100%;
  font-size: 20px;
  color: white;
  line-height: 1.5em;
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
  border: 4px solid rgb(173, 255, 47);
}

.userInputs:hover {
  outline: none;
  border: 5px solid hotpink;
}

.userInputs:focus {
  outline: none;
  border: 5px solid blueviolet;
}


.Error {
  color: orange;
  font-size: 15px;
}