*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}
/* CSS Reset code provided by Elad Shechter */
.Home {
  /* background-image: url("https://trello-attachments.s3.amazonaws.com/5e5da6657b62812c17696666/5e6024ca256cca1ea18aa5cd/f6206d34565e8891715101b0e5af7c52/GlossyBlackTileSmall.jpg");
  background-repeat: repeat; */
  background: black;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 1;
  grid-template-areas:
    "imageContainer"
    "topImageContainer";
}
.randomPics {
  display: flex;
  height: 450px;
  width: 450px;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  grid-area: imageContainer;
  border: 10px solid rgba(173, 255, 47, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px #00ddd6, 0px 0px 30px 20px hotpink,
    inset 0px 0px 10px 10px #00ddd6, inset 0px 0px 30px 20px hotpink;
  /* align-items: center; */
}
.randPic {
  height: 400px;
  width: 400px;
  border-radius: 5px;
  border: none;
}
.tags {
  font-family: potra;
  color: #aefb2f;
  font-size: 20px;
}
