*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:underline; color:inherit; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd, li {margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;
}
.Profile{
  height: 100vh;
  width: 100%;
  font-family: 'potra';
  margin: 2%;
  background: white;
  background-image: url("./Images/BlackAlternatingTile.png");
  background-repeat: repeat;
  background-size: 60%;
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
  "ProfileHeader"
  "profilePic userPics";

}
.userProfile{
    width: 300px;
    height: 300px;
    color: hotpink;

    
}
.profilePic{
    width: 150px;
    height: 150px;
    text-align: center;
    font-weight: bold;
  font-size: 18px;
  color: hotpink;
  font-weight: bold;
  font-size: 18px;
  border: 10px solid rgba(173, 255, 47, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px #00ddd6, 0px 0px 30px 20px hotpink, inset 0px 0px 10px 10px #00ddd6, inset 0px 0px 30px 20px hotpink;


}

.userProfile{
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
  font-size: 18px;
  color: hotpink;
  font-weight: bold;
  font-size: 18px;
}

.userPics{
    width: 100px;
    height: 100px;
    color: hotpink;
}
/* .list{
    width: 100px;
    height: 150px;
} */
