*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:underline; color:inherit; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd, li {margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;
}


.Profile {
  height: 100%;
  width: 100%;
  font-family: 'potra';
  margin: 2%;
  background: white;
  background-image: url("./Images/BlackAlternatingTile.png");
  background-repeat: repeat;
  background-size: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 3fr;
  grid-template-areas:
  "profileHeaderPic profileHeaderVotes"
  "userImageGrid userImageGrid";
}

.profileHeaderPic {
  grid-area: profileHeaderPic;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 50%;
}

.profilePicContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 10px solid rgba(173, 255, 47, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px #00ddd6, 0px 0px 30px 20px hotpink,
    inset 0px 0px 10px 10px #00ddd6, inset 0px 0px 30px 20px hotpink;
}

.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: none
}

.userImageGrid {
  margin-left: 15%;
  margin-right: 15%;
  grid-area: userImageGrid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.userGridImageContainer {
  z-index: 1;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  color: hotpink;
  font-weight: bold;
  border: 10px solid rgba(173, 255, 47, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px #00ddd6, 0px 0px 30px 20px hotpink,
    inset 0px 0px 10px 10px #00ddd6, inset 0px 0px 30px 20px hotpink;
}

.userGridImage{
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: none
}


